[Unit]
Description=randd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=randd
Group=randd
PermissionsStartOnly=true
ExecStart=/usr/bin/randd start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target

